<!-- sidebar -->
<div class="col-xl-2 bd-sidebar">
    <form class="bd-search d-flex align-items-center">
        <span>
            <input type="text" class="form-control" placeholder="Buscar Documento" style="position: relative; vertical-align: top;">
        </span>
    </form>
    <nav class="collapse bd-links" id="bd-docs-nav">
        <div class="bd-toc-item active">
            <a class="bd-toc-link" href="/docs/4.0/getting-started/introduction/">
                Documentos
            </a>
            <ul class="nav bd-sidenav">
                <li class="">
                    <a href="/docs/4.0/getting-started/introduction/">
                        Resumen Diario
                    </a>
                </li>
                <li class="">
                    <a href="/docs/4.0/getting-started/download/">
                        Resumen por Mes
                    </a>
                </li>
            </ul>
        </div>
        <div class="bd-toc-item ">
            <a class="bd-toc-link" href="/docs/4.0/layout/overview/">
                Sunat link
            </a>
        </div>
        <div class="bd-toc-item ">
            <a class="bd-toc-link" href="/docs/4.0/extend/icons/">Manual</a>
        </div>
    </nav>
</div>