<!--Modal Factura-->
<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="margin: 8px 0px 0px 0px; padding: 0px 17px 8px 17px; border: 0px;">
                <h5 class="modal-title">
                    <i class="fa fa-file-text-o"></i>
                    {{document.tipo_doc}} {{document.serie}} - {{ document.numero }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="text-center">
                <i v-show="loadingFactura" class="fa fa-spinner fa-3x fa-spin"></i>
            </div>
            <div class="modal-body" style="margin: 0px 0px 0px 0px; padding: 0px 17px 0px 17px;" v-show="!loadingFactura">


                <div class="bd-callout bd-callout-info" style="margin-top: 0; padding-top: 0px; margin-bottom: 3px; padding-bottom: 4px;">
                    <div class="row">
                        <div class="col-7">
                            <div>{{documento.fecha}}</div>
                            <div>{{documento.cliente}}</div>
                            <div>{{documento.doc_cliente}}</div>
                            <div>{{documento.direccion}}</div>
                            <div>{{documento.pago}}</div>
                            <div>{{documento.ubigeo}}</div>
                        </div>
                        <div class="col">
                            <div>{{documento.ord_tra}}</div>
                            <div>{{documento.placa}}</div>
                            <div>{{documento.modelo}}</div>
                            <div>{{documento.chasis}}</div>
                            <div>{{documento.color}}</div>
                            <div>{{documento.km}}</div>
                        </div>
                    </div>
                </div>
                <table class="table table-sm table-striped" v-show="!loadingFactura">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-left">Código</th>
                        <th class="text-left">Descripción</th>
                        <th class="text-center">Cant</th>
                        <th class="text-right">P.Unit</th>
                        <th class="text-right">Import</th>
                        <th class="text-right">Descto</th>
                        <th class="text-right">V.Venta</th>
                    </tr>
                    <tr v-for="item in documento.items">
                        <td class="text-center" style="padding-top: 0px; padding-bottom: 0px;">{{item.id}}</td>
                        <td class="text-left" style="padding-top: 0px; padding-bottom: 0px;">{{item.codigo}}</td>
                        <td class="text-left" style="padding-top: 0px; padding-bottom: 0px;">{{item.descripcion}}</td>
                        <td class="text-center" style="padding-top: 0px; padding-bottom: 0px;">{{item.cantidad}}</td>
                        <td class="text-right" style="padding-top: 0px; padding-bottom: 0px;">{{item.unitario}}</td>
                        <td class="text-right" style="padding-top: 0px; padding-bottom: 0px;">{{item.importe}}</td>
                        <td class="text-right" style="padding-top: 0px; padding-bottom: 0px;">{{item.descuento}}</td>
                        <td class="text-right" style="padding-top: 0px; padding-bottom: 0px;">{{item.venta}}</td>
                    </tr>
                    <tr v-show="documento.suma_active">
                        <td colspan="3"><strong>Sumatoria</strong></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">{{documento.suma_import}}</td>
                        <td class="text-right">{{documento.suma_descuento}}</td>
                        <td class="text-right">{{documento.suma_venta}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <strong>Totales {{documento.moneda}}</strong>
                        </td>
                        <td class="text-right" colspan="6">
                            Subtotal {{documento.total_sub}} |
                            Descuentos {{documento.total_descuentos}} |
                            Gravadas {{documento.total_gravadas}} |
                            I.G.V {{documento.total_igv}} |
                            Total <strong>{{documento.total_total}}</strong>
                        </td>
                    </tr>
                    <tr v-show="documento.mensaje_active">
                        <td colspan="2">
                            <strong>Mensajes </strong>
                        </td>
                        <td class="text-right" colspan="6" v-html="documento.mensajes">
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer" style="margin: 0px 0px 0px 0px; padding: 0px 15px 20px 0px; border: 0px;">
                <a href="#" class="btn btn-info btn-sm" @click="printPDF('a')"><i class="fa fa-print"></i> Imprimir</a>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-windows-close"></i> Close</button>
            </div>
        </div>
    </div>
</div>