* {
    background: transparent !important;
}

#table_home {
    display: none;
}

#imprimedoc {
    display: block !important;
}

#titulo_doc {
    display: none !important;
}

#form_doc {
    display: none !important;
}

#table_modal {
    display: none !important;
}

.bd-sidebar {
    display: none !important;
}

body header {
    display: none !important;
}

#app p h2 {
    display: none !important;
}
#sidebar {
    display: none !important;
}
#row_principal, .bd-title, .bd-title {
    display: none !important;
}
